@use ".../../../../../designSystem/library" as *;

.gradient-container {
  position: absolute;
  top: -60px;
  left: -60px;
  background: linear-gradient(
    131deg,
    rgba(21, 212, 107, 0.2) 1%,
    rgba(255, 255, 255, 0) 30%
  );

  width: 100vw;
  height: 100vh;
  z-index: 11;
}

.main-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  font-family: $font-tertiary;
  position: relative;
  overflow: scroll;

  .trusted-platform-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: white;
    width: fit-content;
    border: 1px solid $gray-800;
    border-radius: 20px;
    padding: 0.6rem 1.2rem;
    background-color: rgba(255, 255, 255, 0.131);
  }

  .mainsection-header {
    color: white;
    margin-top: 3rem;
    font-size: 55px;
    text-align: center;
    line-height: 65px;
    font-weight: 300;
  }

  .mainsection-desc {
    margin-top: 1.5rem;
    color: $gray-100;
    text-align: center;
    line-height: 26px;
    font-weight: 300;
    width: 50%;
    letter-spacing: 0.9px;
    font-size: 14px;
  }

  .scroll-down-container {
    position: relative;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100px;
    height: 50px;
    color: white;
    transition: transform linear 0.3s;
    cursor: pointer;

    .scroll-text {
      font-size: 12px;
      margin-top: 0.6rem;
    }

    &:hover {
      color: $primary-200;
      transform: scale(1.05);
    }
  }

  .rocket-container-1,
  .rocket-container-2,
  .rocket-container-3 {
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: float 5s infinite ease-in-out;

    .line-1 {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      height: 100px;
      width: 1px;
    }

    .dot-1 {
      height: 5px;
      width: 5px;
      background-color: white;
    }

    @keyframes float {
      0% {
        transform: translateY(0);
        opacity: 1;
      }
      50% {
        transform: translateY(30px);
        opacity: 1;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .rocket-container-2 {
    position: absolute;
    top: 8rem;
    left: 91vw;
  }

  .rocket-container-3 {
    position: absolute;
    top: 20rem;
    left: 35vw;
  }

  .grid-container {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    display: grid;
    grid-template-columns: repeat(12, auto);
    width: 100%;
    height: 100%;
    z-index: 11;

    div {
      border: 0.1px solid rgb(255, 255, 255);
      padding: 10px;
    }

    div:nth-child(-n + 12) {
      border-top: none;
    }
    div:nth-child(n + 48) {
      border-bottom: none;
    }
  }
}

.dots-block-container {
  position: absolute;
  bottom: 2rem;
  right: 4rem;

  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 3rem;
  column-gap: 6rem;

  // border: 1px solid red;

  .dot {
    height: 3px;
    width: 3px;
    background-color: $gray-100;
    border-radius: 100%;
  }
}
